* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	padding: 0;
	margin: 0;
	background-color: $base-background-color;
	color: #fff;
	max-width: 100vw;
	overflow-x: hidden;
	letter-spacing: 0.025rem;
	font-family: var(--open-sans-font);
}

.modal-open {
	position: fixed;
	overflow: hidden;
	inset: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

input {
	border: none;
	color: #000;
	font-size: 1.5rem;
	line-height: normal;
	text-transform: none;
	border: none;
	outline: none;
}

button {
	border: none;
	background: none;
	letter-spacing: 0.025rem;
	cursor: pointer;
}

main {
	position: absolute;
	inset: 0;
	background: #666;
}

h1,
h2,
h3,
h4 {
	max-height: 2.5em;
	overflow: hidden;
	line-height: 1.25;
	text-overflow: ellipsis;
	font-weight: normal;
	margin: 0 0 0.125rem;
}
