.searchHeaderWrapper {
	padding: 1rem;
}

.searchHeaderContainer {
	display: flex;
	justify-content: space-between;
}

$search-header-margin-bottom: 1rem;

.searchHeader {
	margin-top: 1.5rem;
	margin-bottom: 1rem;
	font-size: 2rem;
	font-weight: 700;
}

.aboutButton {
	align-self: end;
	margin-bottom: $search-header-margin-bottom;
}

@media screen and (max-width: $desktop-breakpoint) {
	.aboutButton {
		display: none;
	}
}

.searchButton {
	align-items: center;
	background-color: #fff;
	border-radius: 0.25rem;
	color: #000;
	display: flex;
	gap: 0.75rem;
	height: 2.75rem;
	padding: 0 1rem;
	white-space: nowrap;
	width: 100%;
	font-size: 1rem;
	cursor: text;
}

.searchIcon {
	height: 1.25rem;
}

.searchButtonText {
	margin-top: 0.2rem;
}

.categoryHeader {
	font-size: clamp(1.75rem, 5vw, 2.5rem);
	font-weight: 600;
	padding: 5rem 2rem;
	z-index: 1;
}

.searchItems {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-auto-rows: minmax(0, auto);
	gap: calc(1rem + 0.5dvw);
	width: 100%;
}

@media screen and (min-width: 768px) {
	.searchItems {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (min-width: 1024px) {
	.searchItems {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media screen and (min-width: $desktop-breakpoint) {
	.searchItems {
		grid-template-columns: repeat(4, 1fr);
	}
}

@media screen and (min-width: 1536px) {
	.searchItems {
		grid-template-columns: repeat(5, 1fr);
	}
}

.loadingSpinnerWrapper {
	position: absolute;
	inset: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}
