.searchResults {
	position: absolute;
	inset: 0;
	padding-top: 9dvh;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow-x: hidden;
	overflow-y: scroll;
	height: -webkit-fill-available;
	flex-flow: wrap;
	opacity: 0;
	animation: Fade 1s ease-in-out forwards;
}
