.watchView {
	height: -webkit-fill-available;
	width: -webkit-fill-available;
	position: absolute;
}

.player {
	position: absolute;
	top: 8dvh;
	bottom: 32dvh;
	left: 0;
	right: 0;
	display: flex;
	align-items: center;
}

.playerTray {
	position: absolute;
	left: 4.5dvw;
	right: 4.5dvw;
	bottom: 3rem;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	flex-direction: column;
	background-color: transparent;
}

.details {
	display: flex;
	width: 100%;
	margin-bottom: 1rem;
}

.detailsText {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;

	> span {
		text-align: justify;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
		width: 100%;
	}
}

.title {
	font-size: 1.5rem;
	font-weight: 500;
}

.author {
	font-size: 1rem;
	letter-spacing: 0.02em;
	opacity: 0.6;
}

.secondaryControls {
	justify-content: space-between;
	display: flex;
	margin-top: -0.5rem;
	width: 100%;
	height: 1.5rem;
}

.secondaryButtonIcon {
	display: flex;
	height: 100%;
	fill: #fff;
}

.shareButton {
	padding: 0.125rem;
}

.transcriptDetails {
	padding: 0 1rem;
	overflow: hidden;
	text-align: center;
	white-space: nowrap;
	line-height: 1.45rem;
	letter-spacing: 0.03rem;

	> div {
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

.transcriptTitle {
	font-weight: 600;
}
