.browseAllHeader {
	margin-bottom: 1.25rem;
	margin-top: 2rem;
	font-size: clamp(0.5rem, 4vw, 1.5rem);
}

.categoriesContainer {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-auto-rows: minmax(0, auto);
	gap: calc(1rem + 0.5dvw);
	width: 100%;
	margin-bottom: $base-menu-bar-height;
}

@media screen and (min-width: 768px) {
	.categoriesContainer {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media screen and (min-width: 1024px) {
	.categoriesContainer {
		grid-template-columns: repeat(4, 1fr);
	}
}

@media screen and (min-width: $desktop-breakpoint) {
	.categoriesContainer {
		grid-template-columns: repeat(5, 1fr);
	}
}

@media screen and (min-width: 1536px) {
	.categoriesContainer {
		grid-template-columns: repeat(6, 1fr);
	}
}

.categoryItem {
	position: relative;
	aspect-ratio: 1;
	border-radius: 1rem;
	overflow: hidden;
}

.categoryText {
	padding: 1rem;
	font-weight: 600;
	font-size: clamp(0.5rem, 4vw, 1.5rem);
	background: linear-gradient(180deg, rgba(0, 0, 0, 0.3), transparent);
	display: block;
	height: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
}

.categoryThumbnailFallback {
	display: flex;
	justify-content: center;
	align-items: center;

	> img {
		height: 3.5rem;
		width: auto;
	}
}

.categoryThumbnail,
.categoryThumbnailFallback {
	vertical-align: baseline;
	object-fit: cover;
	object-position: center center;
	user-select: none;
	position: absolute;
	right: 0;
	bottom: 0;
	height: 45%;
	width: 45%;
	transform: rotate(25deg) translate(18%, -2%);
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
