.searchBar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 6.5dvh;
	display: flex;
	padding: 0 4.5dvw;
	justify-content: center;
	align-items: center;
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(0.125rem);
}

@media screen and (min-width: 768px) {
	.searchBar {
		height: 2.75rem;
	}
}

.backButton {
	cursor: pointer;
	height: 2.25rem;
	width: 2.25rem;
	margin-right: 0.5rem;
	padding: 0.25rem;
}

.arrowIcon {
	fill: #fff;
}

.inputWrapper {
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: row;
}

.searchButton {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 2.35rem;
}

.searchIcon {
	color: #000;
	position: absolute;
	top: 50%;
	left: 0.75rem;
	transform: translateY(-50%);
	pointer-events: none;
	height: 1rem;
}

.input {
	border-radius: 0.25rem;
	padding: 0.5rem 2.35rem;
	width: 100%;
	font-size: 1rem;
}

.clearTextButton {
	position: absolute;
	top: 50%;
	right: 0.75rem;
	transform: translateY(-50%);
	color: #000;
	height: -webkit-fill-available;
}
