.searchBar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: $base-search-bar-height;
	display: flex;
	justify-content: space-between;
	align-items: center;
	@include blurred-foreground;
	z-index: 1;
}

$button-width: 4rem;

.inputContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 0 $base-padding;
}

@media screen and (min-width: $desktop-breakpoint) {
	.searchBar {
		height: $desktop-search-bar-height;
	}

	.inputContainer {
		display: flex;
		width: calc(100dvw - calc($desktop-padding * 2 + $button-width * 2));
		justify-content: center;
		align-items: center;
	}
}

.backButton {
	cursor: pointer;
	height: 2.25rem;
	width: 2.25rem;
	margin-right: 0.5rem;
	padding: 0.25rem;
}

.arrowIcon {
	fill: #fff;
}

.inputWrapper {
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: row;
}

.searchButton {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 2.35rem;
}

.searchIcon {
	color: #000;
	position: absolute;
	top: 50%;
	left: 0.75rem;
	transform: translateY(-50%);
	pointer-events: none;
	height: 1rem;
}

.input {
	border-radius: 0.25rem;
	padding: 0.5rem 2.35rem;
	width: 100%;
	font-size: 1rem;
}

.clearTextButton {
	position: absolute;
	top: 50%;
	right: 0.75rem;
	transform: translateY(-50%);
	color: #000;
	height: -webkit-fill-available;
}

.home,
.about {
	width: $button-width;
	display: flex;
	justify-content: center;
}

.logo {
	padding: 1rem;
	height: 100%;
	width: auto;
}

@media screen and (max-width: $desktop-breakpoint) {
	.home,
	.about {
		display: none;
	}
}
