.modalBackdrop,
.modal {
	position: fixed;
	background-color: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(0.125rem);
}

.modalBackdrop {
	inset: 0;
	z-index: 1;
}

.modal {
	top: 5rem;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: 0.5rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	z-index: 3;
}

.modalTop {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	height: 4rem;
	font-size: 1rem;
}

.closeButtonTop {
	fill: #fff;
	padding: 1.25rem;
	position: absolute;
	right: 0;

	svg {
		transform: scale(1.5);
	}
}

.loadingSpinner {
	height: -webkit-fill-available;
	display: flex;
	justify-content: center;
	align-items: center;
}

.modalContent {
	height: -webkit-fill-available;
	font-size: 1.25rem;
	line-height: 1.5;
	padding: 0 2rem;
	overflow-y: scroll;
	overflow-x: hidden;
	padding-bottom: 30dvh;
}

.modalBottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 4rem;
	padding: 0 1.5rem;
}

.buttonLeft,
.buttonRight {
	width: 2rem;
	fill: #fff;

	button {
		width: -webkit-fill-available;
	}
}

.closeButtonBottom {
	color: #fff;
	padding: 1.25rem;
	font-size: 1rem;
}
